<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <link type="text/css" rel="stylesheet" href="/Content/css/style.less" media="all"  />
</head>
<body>
    <div id="user-bar">
        <div id="wrapper">
            <span>Company logo</span>
            <a href="">Đăng nhập</a> 
            <a href="">Đăng kí</a> 
            <a href="">Giỏ hàng</a> 
        </div>
    </div>

    <div id="container">
        <header>
            <nav>
                <ul>
                    <li><a href="/">Trang chủ</a></li>
                    <li><a href="">Tin tức</a></li>
                    <li><a href="">Sản phẩm</a></li>
                    <li><a href="">Liên hệ</a></li>
                    <li>@Html.ActionLink("Giới thiệu", "About")</li>
                </ul>
            </nav>
            <div id="main-silde">
                <div>Slide goes here</div>
            </div>
            @if (ViewBag.ShowSearchBox != null && ViewBag.ShowSearchBox == true)
            {
                <div id="search-box">Search box</div>
            }
        </header>
        <div id="content">
            @RenderBody()
        </div>
        <footer>
            Copyleft © 2013 <strong>Nhóm XYZ</strong>
        </footer>
    </div>
</body>
</html>
