<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
</head>
<body>
    <div id="container">
        <header>

        </header>
        <div id="content">
            @RenderBody()
        </div>
        <footer>

        </footer>
    </div>
</body>
</html>
